
.header{height:5.6rem;background-color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.header__content{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100%}.header__items-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.header__logo{font-family:ProximaNova_Regular;font-size:3rem;margin-right:3.1rem}.header__description{font-family:ProximaNova_Regular;font-size:1.3rem;line-height:1.6rem;padding-top:0.5rem}.header__phone{font-family:ProximaNova_Bold;font-size:3.5rem;margin-right:1.7rem}.header__callback-btn{font-family:ProximaNova_Bold;height:3rem;font-size:1.3rem;padding:0 1rem;background-image:-webkit-gradient(linear, left top, left bottom, from(#fd7048), to(#ff4f58));background-image:-o-linear-gradient(top, #fd7048, #ff4f58);background-image:linear-gradient(to bottom, #fd7048, #ff4f58);border:none}@media screen and (max-width: 991.98px){.header__logo{margin-right:2rem}.header__phone{font-size:2.5rem}}@media screen and (max-width: 767.98px){.header__logo{font-size:1.7rem;margin-right:1rem}.header__phone{font-size:1.7rem;margin-right:0.5rem}.header__description{font-size:1.2rem}}@media screen and (max-width: 575.98px){.header{height:6.2rem}.header__items-wrap{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.header__description{text-align:center}}.slider{width:100%;height:798px;min-height:calc(100vh - 5.6rem);position:relative}.slider__info-wrap{position:absolute;z-index:10;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;height:100%}.slider__container{z-index:1}.slider__info{-webkit-box-flex:1;-ms-flex:1;flex:1;position:relative}.slider__info-back{height:100%;width:calc(100vw / 2.3);position:absolute;top:-1px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.slider__skew-info{-webkit-transform:skewX(-15deg);-ms-transform:skewX(-15deg);transform:skewX(-15deg);-webkit-transform-origin:top;-ms-transform-origin:top;transform-origin:top;padding-left:0.9rem;margin-left:0.5rem;border-left:0.4rem solid #fff;margin-top:3.5rem}.slider .skew,.slider .slider__title-wrap,.slider .slider__sub-title-wrap{background-color:rgba(255,255,255,0.7);display:inline-block}.slider__title-wrap{height:110px;padding:0 1.7rem 0 1.5rem;-webkit-box-shadow:-5px 5px 13px 0 rgba(0,0,0,0.3);box-shadow:-5px 5px 13px 0 rgba(0,0,0,0.3)}.slider__sub-title-wrap{height:63px;padding:0 3.5rem 0 2.5rem;margin-top:1rem;width:278px;text-align:center}.slider__price-wrap{background-image:-webkit-gradient(linear, left top, right top, from(#2aeb2a), to(#007500));background-image:-o-linear-gradient(left, #2aeb2a, #007500);background-image:linear-gradient(to right, #2aeb2a, #007500);display:inline-block;height:50px;margin-top:1.8rem;vertical-align:top;top:0;margin-left:0.5rem;-webkit-box-shadow:5px 5px 5px 0 rgba(0,0,0,0.75);box-shadow:5px 5px 5px 0 rgba(0,0,0,0.75);padding:0 2.7rem 0 1.5rem}.slider__title{font-size:9rem;font-family:Intro_Black;-webkit-transform:skewX(15deg);-ms-transform:skewX(15deg);transform:skewX(15deg);line-height:11rem}.slider__sub-title{font-size:3.6rem;font-family:Intro_Black_Italic;-webkit-transform:skewX(15deg);-ms-transform:skewX(15deg);transform:skewX(15deg);line-height:5rem;border-bottom:0.3rem solid #000;width:232px}.slider__price{color:#fff;font-size:1.6rem;font-family:Intro_Regular;-webkit-transform:skewX(15deg);-ms-transform:skewX(15deg);transform:skewX(15deg);line-height:5rem}.slider__price .price-value{font-size:4.5rem;font-family:Intro_Black;margin:0 1.6rem 0 1.8rem}.slider__price span{font-size:1.8rem}.slider__description{font-family:ProximaNova_Bold;font-size:1.9rem;color:#fff;margin-top:2.4rem;position:relative}.slider__btn{margin-top:2.6rem;height:4.9rem;padding:0 1.7rem;border:2px solid #fff;background-image:-webkit-gradient(linear, left top, left bottom, from(#fd7048), to(#ff4f58));background-image:-o-linear-gradient(top, #fd7048, #ff4f58);background-image:linear-gradient(to bottom, #fd7048, #ff4f58);position:relative;font-family:ProximaNova_Bold;font-size:2.3rem}.slider__footer{min-height:279px;background-color:rgba(255,255,255,0.8)}.slider__footer-wrap{display:-webkit-box;display:-ms-flexbox;display:flex;height:100%}.slider__footer-item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center;margin-right:1.5rem;-webkit-box-flex:1;-ms-flex:1;flex:1}.slider__footer-item:last-child{margin-right:0}.slider__icon{margin:2rem 0 2.4rem 0;-webkit-box-flex:0;-ms-flex:0 0 98px;flex:0 0 98px;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}.slider__icon img{position:absolute;max-height:100%}.slider__footer-title{font-size:2.2rem;font-family:ProximaNova_Bold;line-height:2rem}.slider__footer-description{margin-top:1.2rem;font-size:1.6rem;line-height:1.8rem;font-family:ProximaNova_Regular}.slider .owl-dots{display:-webkit-box;display:-ms-flexbox;display:flex}.slider .owl-dots .owl-dot{background:none;outline:none;border:none;width:1.5rem;height:1.5rem;position:relative;display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;padding:0;margin-right:1.5rem;border:3px solid #fff;border-radius:50%}.slider .owl-dots .owl-dot:last-child{margin-right:0}.slider .owl-dots .owl-dot span{background:transparent !important;border:none;-webkit-box-flex:1;-ms-flex:1;flex:1;border-radius:50%;flex:1;border-radius:50%;-ms-flex-item-align:stretch;align-self:stretch}.slider .owl-dots .owl-dot.active span{background:#fff !important;border:2px solid #000}.slider__nav{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-top:4.8rem}.slider .arrow,.slider .slider__prev,.slider .slider__next{background-position:center;background-size:contain;background-repeat:no-repeat;display:-webkit-box;display:-ms-flexbox;display:flex;width:2.5rem;height:4rem;position:relative;cursor:pointer;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.slider .arrow img,.slider .slider__prev img,.slider .slider__next img{max-width:100%;max-height:100%}.slider__prev{margin-right:3.6rem}.slider__next{margin-left:3.6rem}.slider__carousel{height:100%}.slider__carousel .owl-stage-outer{height:inherit}.slider__carousel .owl-stage-outer *{height:inherit}.slider__img{-o-object-fit:cover;object-fit:cover}@media screen and (max-width: 1199.98px){.slider__info-back{width:calc(100vw / 2.2)}.slider__prev{margin-right:3rem}.slider__next{margin-left:3rem}.slider__icon{-webkit-box-flex:0;-ms-flex:0 0 80px;flex:0 0 80px;margin:1.6rem 0 1.8rem 0}.slider__footer-title{font-size:2rem;line-height:1.6rem}.slider__footer-description{margin-top:1rem;font-size:1.6rem}}@media screen and (max-width: 991.98px){.slider{height:870px}.slider__info-back{width:calc(100vw / 1.7)}.slider__skew-info{margin-top:2.8rem}.slider__title-wrap{height:90px}.slider__title{font-size:8rem;line-height:9.5rem}.slider__sub-title-wrap{height:54px}.slider__sub-title{font-size:3.2rem;line-height:4.4rem}.slider__price-wrap{margin-top:1.7rem;height:43px}.slider__price{line-height:4.5rem}.slider__price .price-value{font-size:3.4rem}.slider__description{font-size:1.7rem;margin-top:1.8rem}.slider__btn{margin-top:2rem}.slider__nav{margin:3rem 0}.slider__footer-wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}.slider__footer-item{-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto;width:calc(50% - 1.5rem)}.slider__footer-item:nth-child(2n){margin-right:0}.slider__footer-title{height:auto}.slider__footer-description{font-size:1.5rem;line-height:1.7rem}.slider__container{padding:0 4rem !important}}@media screen and (max-width: 767.98px){.slider{height:733px}.slider__info-back{width:calc(100vw / 1.5)}.slider__prev{margin-right:2.5rem}.slider__next{margin-left:2.5rem}.slider .owl-dots .owl-dot{margin-right:1rem}.slider__icon{-webkit-box-flex:0;-ms-flex:0 0 60px;flex:0 0 60px;margin:1.2rem 0 1.4rem 0}.slider__skew-info{margin-top:1.8rem}.slider__title-wrap{height:70px}.slider__sub-title-wrap{height:40px;width:244px}.slider__price-wrap{height:32px;margin-top:1.5rem;padding:0 1.2rem 0 1rem}.slider__title{font-size:6rem;line-height:7.5rem}.slider__sub-title{font-size:3rem;line-height:3.2rem;width:192px}.slider__price{font-size:1.4rem;line-height:3rem}.slider__price .price-value{font-size:2.5rem;margin:0 1.2rem 0 1.4rem}.slider__price span{font-size:1.8rem}.slider__description{font-size:1.5rem;margin-top:1.2rem}.slider__btn{margin-top:1.5rem}.slider__nav{margin:2rem 0}.slider__footer-title{font-size:1.8rem;line-height:1.4rem}.slider__footer-description{font-size:1.4rem;line-height:1.6rem;margin-top:0.8rem}}@media screen and (max-width: 575.98px){.slider{min-height:calc(100vh - 6.2rem);height:750px}.slider__info-back{width:calc(100vw / 1.2)}.slider__icon{-webkit-box-flex:0;-ms-flex:0 0 45px;flex:0 0 45px;margin:1rem 0}.slider__skew-info{margin-top:1.5rem}.slider__title-wrap{height:50px}.slider__sub-title-wrap{height:30px;padding:0 1.5rem;width:160px}.slider__price-wrap{height:24px;padding:0 1rem;margin-top:1.4rem}.slider__title{font-size:4rem;line-height:5.5rem}.slider__sub-title{font-size:2rem;line-height:2.4rem;width:130px}.slider__price{line-height:1.7rem}.slider__price .price-value{font-size:2rem;margin:0 0.6rem}.slider__price span{font-size:1.5rem}.slider__description{font-size:1.2rem;width:180px}.slider__btn{font-size:2rem;height:35px}.slider__nav{margin:2rem 0}.slider__prev{margin-right:1rem;height:2.5rem !important}.slider__next{margin-left:1rem;height:2.5rem !important}.slider .owl-dots .owl-dot{margin-right:0.8rem}.slider__footer-title{font-size:1.7rem}}.menu{height:3.5rem;width:100%;background-color:rgba(0,0,0,0.5)}.menu__list{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;height:100%;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.menu__item{cursor:pointer;color:#fff;font-family:ProximaNova_Regular;font-size:1.4rem;height:1.6rem;border-right:1px solid #fff;-webkit-box-flex:1;-ms-flex:1;flex:1;text-align:center}.menu__item:hover,.menu__item.menu__item-active{font-family:ProximaNova_Bold}.menu__item:last-child{border-right:none}@media screen and (max-width: 767.98px){.menu__item{font-size:1.2rem}}@media screen and (max-width: 575.98px){.menu{height:4.5rem}.menu__list{-ms-flex-wrap:wrap;flex-wrap:wrap}.menu__item{-webkit-box-flex:1;-ms-flex:1 0 33%;flex:1 0 33%}.menu__item:last-child,.menu__item:nth-child(3){border-right:none}}@font-face{font-family:ProximaNova_Regular;src:url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Regular/ProximaNova_Regular.eot);src:url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Regular/ProximaNova_Regular.eot?#iefix) format("embedded-opentype"),url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Regular/ProximaNova_Regular.svg#ProximaNova_Regular) format("svg"),url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Regular/ProximaNova_Regular.ttf) format("truetype"),url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Regular/ProximaNova_Regular.woff) format("woff"),url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Regular/ProximaNova_Regular.woff2) format("woff2");font-weight:normal;font-style:normal}@font-face{font-family:ProximaNova_Bold;src:url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Bold/ProximaNova_Bold.eot);src:url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Bold/ProximaNova_Bold.eot?#iefix) format("embedded-opentype"),url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Bold/ProximaNova_Bold.svg#ProximaNova_Bold) format("svg"),url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Bold/ProximaNova_Bold.ttf) format("truetype"),url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Bold/ProximaNova_Bold.woff) format("woff"),url(/Hexa-test__Kolha_A/assets/fonts/ProximaNova_Bold/ProximaNova_Bold.woff2) format("woff2");font-weight:normal;font-style:normal}@font-face{font-family:Intro_Regular;src:url(/Hexa-test__Kolha_A/assets/fonts/Intro_Regular/Intro_Regular.eot);src:url(/Hexa-test__Kolha_A/assets/fonts/Intro_Regular/Intro_Regular.eot?#iefix) format("embedded-opentype"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Regular/Intro_Regular.svg#Intro_Regular) format("svg"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Regular/Intro_Regular.ttf) format("truetype"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Regular/Intro_Regular.woff) format("woff"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Regular/Intro_Regular.woff2) format("woff2");font-weight:normal;font-style:normal}@font-face{font-family:Intro_Black;src:url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black/Intro_Black.eot);src:url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black/Intro_Black.eot?#iefix) format("embedded-opentype"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black/Intro_Black.svg#Intro_Black) format("svg"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black/Intro_Black.ttf) format("truetype"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black/Intro_Black.woff) format("woff"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black/Intro_Black.woff2) format("woff2");font-weight:normal;font-style:normal}@font-face{font-family:Intro_Black_Italic;src:url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black_Italic/Intro_Black_Italic.eot);src:url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black_Italic/Intro_Black_Italic.eot?#iefix) format("embedded-opentype"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black_Italic/Intro_Black_Italic.svg#Intro_Black_Italic) format("svg"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black_Italic/Intro_Black_Italic.ttf) format("truetype"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black_Italic/Intro_Black_Italic.woff) format("woff"),url(/Hexa-test__Kolha_A/assets/fonts/Intro_Black_Italic/Intro_Black_Italic.woff2) format("woff2");font-weight:normal;font-style:normal}*{-webkit-box-sizing:border-box;box-sizing:border-box;margin:0}html{font-size:10px}body{background:#fff;font-size:1.8rem;line-height:1.5;font-weight:400;overflow-x:hidden}.container{width:100%;margin:0 auto;padding:0 1rem}@media screen and (min-width: 576px){.container{max-width:540px;padding:0 1rem}}@media screen and (min-width: 768px){.container{max-width:768px;padding:0 2rem}}@media screen and (min-width: 992px){.container{max-width:992px;padding-left:4.2rem}}@media screen and (min-width: 1200px){.container{max-width:1200px;padding-left:6rem}}main{max-width:1920px;margin:0 auto}ul{list-style:none;padding-left:0}.btn{text-decoration:none;border-radius:4px !important;cursor:pointer !important;color:#fff}.btn:focus{outline:none !important;-webkit-box-shadow:none !important;box-shadow:none !important}a{text-decoration:none;color:inherit !important}a:hover,a:visited,a:focus{color:inherit !important;text-decoration:none !important}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }
  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
  .owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(/Hexa-test__Kolha_Ad4254e0aeed7009797e22e7fe9af8f5f.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px; }
    .owl-theme .owl-nav [class*='owl-']:hover {
      background: #869791;
      color: #FFF;
      text-decoration: none; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px;
      margin: 5px 7px;
      background: #D6D6D6;
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 30px; }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
      background: #869791; }

